body{
    box-sizing: border-box;
    margin: 0;
}
.ui-button .ui-icon {
    display: none;
}
.ui-dialog .ui-dialog-titlebar-close {
    display: none;
}
.ui-widget-header {

}

.ui-dialog .ui-dialog-titlebar{

    background-color: black;
    text-align: center;
}
.ui-dialog .ui-dialog-title {
     font-size: 12px;
     background-color: #000000;
     color: #ffffff;
     border: none;
    width: 300px;
    height: 25px;
    padding-top: 10px;

 }

.element.style {
    position: absolute;
    height: auto;
    width: 450px;
    top: 94px;
    left: 529px;
    display: block;
}

.element.style {
    width: auto;
    min-height: 86px;
    max-height: none;
    height: auto;
}
.ui-dialog{
    padding: 0 !important;
}
label{
    color: #363636;
    font-size: 12px;
    text-align: center;
    margin-right: 60px;

    float: left;
}
input{
    float: right;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid #b7b7b7;
    height: 25px;
    width: 200px;
}
.ui-widget.ui-widget-content{
    width: 400px !important;
    height: 300px !important;
    border-radius: 0 0 5px 5px;
    border: 0;
}
button{
    width: 330px;
    height: 30px;
    text-align: center;
    margin-left: 18px;
}
.submit{
    border-radius: 2px;
    background-image: -moz-linear-gradient( 180deg, rgb(183,183,183) 0%, rgb(215,215,215) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(183,183,183) 0%, rgb(215,215,215) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(183,183,183) 0%, rgb(215,215,215) 100%);
    color: black;
    font-weight: bold;
    font-size: 10px;
}
.facebook{
    border-radius: 2px;
    background-image: -moz-linear-gradient( 180deg, rgb(72,101,163) 0%, rgb(86,124,206) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(72,101,163) 0%, rgb(86,124,206) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(72,101,163) 0%, rgb(86,124,206) 100%);
}
a:-webkit-any-link{
    text-decoration: none;
}